/* h1 {
    color:rgb(28, 35, 166);
}

header{
    color: sienna;
}

p{
    color: black;
    
}

button{
    color: saddlebrown;
    background-color: whitesmoke;
}

body{
    background-color: blanchedalmond;
}

/* *{
    universal selector:] it applys on all elements
} */

/* #101{
    id selector:] id="101" 
} */

/* .myclass{
    class selector:] class="__"
}*/

/* #Head1{
    text-align: center;
}

#Head2{
    color: sienna;
    text-align: center;
}

header{
    line-height: 10px;
}

h3{
    text-transform: capitalize;
    color:rgb(16, 23, 145);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
    text-decoration: none;
    color: sienna;
}

p{
    color:rgb(14, 20, 139);
}  */






























