/* .myclas{
    background-color: blue;
    color: white;
} */

/* .Heading{
    color: red;
} */

/* h1,h2,h3{
    color: red;
} */

/* #box{
    background-color: green;
} */

/* h1{
    text-align: center;
    text-decoration:overline;
} */

/* a{
    text-decoration: none;
} */

/* #h {
    font-weight:100;
}
#j {
    font-weight: 400;

}

#k {
    font-weight: 700;
}

#l{
    font-weight: 900;
} */

/* #one{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
}

#two{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 50px;
    text-transform:uppercase;
}

*{
    font-family: Times New Roman;
}

#heading{
    text-align: center;
    text-transform: capitalize;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
} */


/* div{
    height: 100px;
    background-color: blanchedalmond;
    width: 100px;
    border-style: dashed;
    border-color: sienna;
    padding-left: 50px;
    padding-top: 50px;
    padding: 100px 50px 50px 75px;
    margin-top: 25px;
    margin: 25px;
}

h1{
    color: white;
    background-color: blue;
    width: 500px;
    height: 35px;
    border-width: 5px;
    border-style: double;
    border-color:green;
    text-align: center;
    border-radius: 50px;
}

button{
    border: 2px dashed saddlebrown ;
    border-radius: 10px;
} */

/* div{
    height: 100px;
    width:100px;
    background-color: green;
    border-radius: 50%;
} */

/* div{
    background-color: black;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;

    height: 600px;
    width: 305px;
    margin: 10px;
    border-radius: 20%;
}

h1{
    height: 115px; 
    width: 115px; 
    border-radius: 50%; 
    background-color: green;
    margin-top: 35px;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 25px;
    border-color: grey;
    border-width: 10px;
}

h2{
    background-color: yellow;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 95px;
    margin-right: 95px;
}

h3{
    background-color: red;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 35px;
} */


/* *{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
}

input{
    color: black;
} */

/* div{
    display: inline;
} */

/* #d{
    background-color: rgba(0,0,255,0.5);
}

#i{
    background-color: rgba(0, 128, 0, 0.75);
    visibility: hidden;
}

#v{
    background-color: rgba(255, 0, 0,1);
}

div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}

h1{
    display: none;
} */


/*practice set 4*/

/* *{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0f1111;
    height: 60px;
}

#logo{
    color: white;
    font-weight: 700;
}

a{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}

#lg{
    margin-left: 285px;
}

body{
    background-color: #0f1111dc;
}


div{
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
    display: inline-block;
}



#d{

    background-color: rgba(255, 0, 0, 0.5);

}

#i{
    background-color: rgba(0, 255, 234, 0.5);
}

#v{
    background-color: rgba(255, 0, 200, 0.5);
}

#content{
    height: 670px;
}


footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
} */


/* #box1{
    height: 500px;
    width: 500px;
    background-color: blanchedalmond;
    font-size: 20px;
}

#box2{
    height: 100vh;
    width: 30%;
    background-color: sienna;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
}

#box3{
    height:50%;
    width: 5em;
    background-color: aquamarine;
} */
/* *{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    position: fixed;
    top: 0;
    z-index: 5;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
}

input{
    color: black;
} */

/* .div{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid sienna;
    display: inline-block;
    color: black;
} */

/* #box1{
    position: static; */
    /* position: relative;
    position: absolute;
    left: 50px;
    top: 300px;
    z-index: 0;
    
}

#box2{
    position: absolute;
    top: 150px;
    left: 50px;
}

#box3{
    position: absolute;
    left: 130px;
    top: 225px;
    z-index: 3;
}

#box4{
    /* position: sticky; */
    /* position: absolute;
    left: 200px;
    top: 150px;


}  */


/* h1{
    position: absolute;
    top: 60px;
    color: white;
    text-align: center;
} */

/* #box1{
    background-image: url(/CLASSROOM/Screenshot\ \(7\).png);
    background-size: cover;
    height: 197.5px;
    width: 349.5px;
}

#box2{
    background-image: url(/CLASSROOM/Screenshot\ \(8\).png);
    background-size: cover;
    height: 197.5px;
    width: 349.5px;
}

#box3{
    background-image: url(/CLASSROOM/Screenshot\ \(4\).png);
    background-size: cover;
    height: 197.5px;
    width: 349.5px;
}

#box4{
    background-image: url(/CLASSROOM/Screenshot\ \(10\).png);
    background-size: cover;
    height: 197.5px;
    width: 349.5px;
}

body{
    background-image: url(/CLASSROOM/Screenshot\ \(3\).png);
    background-size: cover;
} */

/* Practice set 5 */

/* div{
    height: 200px;
    width: 200px;
    background-image: url(/CLASSROOM/Screenshot\ \(49\).png);
    background-size: cover;
    color: white;
    position: fixed;
    right: 0;
    z-index: 2;
}

#p2{
    position: absolute;
    top: 550px;
} */


body{
    text-align: center;
}

#Container{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row; 
    /* flex-direction: row-reverse; 
    flex-direction: column; 
    flex-direction: column-reverse; */
    justify-content: space-around;
}

div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#box1{
    background-color: chartreuse;
}

#box2{
    background-color: aquamarine;
}

#box3{
    background-color: blanchedalmond;
}

#box4{
    background-color: burlywood ;
}

#box5{
    background-color: coral;
}












